html,body{
  height:2000px;
}
.container{
  height:2000px;
  background: #40c896;
}
.row1_{
  color:#f5f7f2;
  margin-top:0.5rem;
}
.row2_{
  color:#f5f7f2;
  text-align:center;
  margin-top:2rem;
}
.row3_{
  color:#f5f7f2;
  font-size:0.1rem;
  text-align:center;
  margin-top:1rem;
}
.row3 u{
  border-bottom: 10px solid #f5f7f2;
}
.row4_{
  color:#f5f7f2;
  font-size:0.1rem;
  text-align:center;
  margin-top:0.2rem;
}
.row5_{
  color:#f5f7f2;
  font-size:0.1rem;
  text-align:center;
  margin-top:0.2rem;
}
input{
  color:#6eba9e;
  margin-left:3.7rem;
  margin-top:0.2rem;
  text-align:center;
}
.row7_{
  color:#f5f7f2;
  font-size:0.1rem;
  text-align:center;
  margin-top:0.4rem;
}
.row8_{
  color: #f5f7f2;
  font-size: 0.1rem;
  text-align: center;
  margin-top: 6rem;
}
.logo img{
  height: 1rem;
  width: 1rem;
}
.logo .weixin{
  margin-left:1.5rem;
}
.logo .weibo{
  margin-left:-2rem;
}

.logo .qq{
  /*margin-left:1.5rem;*/
}
