* {
  margin:0;
  padding: 0;
}
html,body{
  height: 17.8rem;
  width:10rem;
}
.container{
  height: 17.8rem;
  width:10rem;
  background:#40c895;
}
.row1__{
  color:#f5f7f2;
  height: 1.5rem;
  line-height:1.5rem;
  font-size:30px;
}
.glyphicon-arrow-left{
 text-align:center;
  line-height:1.5rem;
}
.row2__{
  color:#f5f7f2;
  font-size:0.4rem;
  margin:2.1rem auto;
}
.telp .value{
  margin-left:0.5rem;
}
.telp .glyphicon-chevron-down{
  float:left;
  margin-left:0.9rem;
}
.row3__{
  color:#f5f7f2;
  font-size:0.4rem;
}
.input{
  margin-top:-1rem;
  margin-left:1rem;
}
.push{
  margin-top:-1rem;
  margin-left:4rem;
}
.row4__{
  font-size:0.4rem;
  color:#40c895;
  margin-top:4rem;
  margin-left:3rem;
}

