*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.reply-place{
  min-width: 320px;
}
.reply-place .r-p-header{
  height: 1.5rem;
  background: #11bf79;
  overflow: hidden;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.r-p-header .col-xs-4{
  margin-top: 2%;
}
.r-p-header .col-xs-4 img{
  height: 1rem;
  width: 2rem;
}
.r-p-header .glyphicon-plus{
  font-size: 0.5rem;
  color: #fff;
  left: 1.7rem;
}
.r-p-header .glyphicon-search{
  font-size: 0.5rem;
  color: #fff;
  left: 1.1rem;
}
.r-p-header .r-place{
  margin-left: 10%;
  font-size: 1.7em;
  color: #fff;
  line-height: 1.5rem;
}
.r-p-header .col-xs-2{
  float: right;
  margin-top: 4%;
  position: absolute;
}
.r-p-body-img{
  height: 6rem;
  width: 100%;
}
.r-p-body-img img{
  width: 100%;
  height: 100%;
}
.reply-place .r-p-shoucang{
  margin-top: 2%;
  font-size: 1.7em;
  height: 1.2rem;
  margin-left: 2%;
}
.r-p-shoucang hr{
  width: 98%;
}
.r-jd-header{
  height: 1.2rem;
}
.r-jd-header span{
  font-size: 1.7em;
  margin-left: 2%;
}
.jingdian {
  height: 6rem;
  position: relative;
}
.jingdian .col-sm-3 {
  height: 4.5rem;
  overflow: hidden;
  position: absolute;
  width: 25%;
}
.jingdian .col-sm-3  img{
  height: 2.5rem;
  width: 100%;
}
.jingdian .jingdian1{
  left: 0;
}
.jingdian .jingdian2{
  left: 25%;
}
.jingdian .jingdian3{
  left: 50%;
}
.jingdian .jingdian4{
  left: 75%;
}
.jingdian .col-sm-3 .jd-name{
  margin-top: 1%;
  font-size: 1.1em;
  height: 1rem;
}
.jingdian .col-sm-3 .r-jd-dengji span{
  font-size: 1.1em;
  margin-left: 1%;
}
.jingdian .col-sm-3 .r-jd-dengji img{
  width: 80%;
  height: 0.3rem;
}
.jingdian hr{
  width: 98%;
  position: absolute;
  top: 6rem;
}
.r-p-youji .r-yj-header{
  height: 1.2rem;
  margin-top: 7%;
}
.r-yj-header span{
  font-size: 1.7em;
  margin-left: 2%;
}
.r-yj-body .r-yj-1{
  height: 3rem;
}
.r-yj-1 .yj-1-container{
  font-size: 1.4em;
  margin-left: 2%;
}
.r-yj-1 .yj-1-xs{
  height: 1.2rem;
  margin-top: 2%;
}
.yj-1-xs .glyphicon-heart{
  color: #ff0000;
}
.r-yj-1 .yj-1-xs span{
  font-size: 1.1em;
  margin-left: 2%;
}
.yj-1-xs .yj-pinglun{
  float: right;
  margin-right: 2%;
}
.r-yj-body .yj-more{
  font-size: 1.5em;
  color: #11bf79;
  width: 100%;
  text-align: center;
}
