
.a_header{
  height: 1.7rem;
  width: 100%;
  background: #11bf79;
}
.a_header h2{
  font-size: 0.73rem;
  margin-left: 1.1rem;
  color: #ffffff;
  line-height: 1.3rem;
}
.arrows{
  float: left;
  line-height: 1.9rem;
  color: #ffffff;
  font-size: 0.7rem;
  margin-left: 0.66rem ;
}
.my_nav{
  margin-top: 0.26rem;
}
/*.nav li{*/
  /*padding :0.4rem;*/
  /*border-bottom: 1px;*/

/*}*/
.my_nav img{
  height: 3.3rem;
  width: 4rem;
  float: left;
}
.my_nav h2{
font-size: 0.46rem;
  margin-left: 0.46rem;
}
.my_nav span{
  font-size: 0.73rem;
  line-height: 1.9rem;

}
.my_row{
  padding: 0.1rem;
  border-bottom: 1px solid #c5c5c5;
}
.footer_add{
  font-size:1.4rem;
  position:absolute;
  right: 0.4rem;
  bottom:0.26rem;
}

.footer_add span{
  color: green;

}

